@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0a0b;
    color:#fff;
    font-family: 'Prata', serif;
}
/* navbar */
/* nav{
    position:fixed;
    top: 0;
    background-color: #0a0a0b;
    border: 1px solid red;
    width: 100%;
    z-index: 2;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 40px; 
}
.logo a{
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Prata', serif;
    text-decoration: none;
    cursor: pointer;
}
.thin-logo{
    font-weight: 300;
    font-family:'Inter', sans-serif ;
}
.menu-list ul{
    margin-bottom: 0;
    display: flex;
    list-style-type: none;
}
.menu-list ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color:#777;
    margin-left: 30px;
    transition: all 0.5s ease;
}
.menu-list ul li a:hover{
    color:#fff;
}
.menu-list ul li:first-child{
    margin-left: 0;
}
.get-in-touch-btn a{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    background-color: #fbc850;
    color: #000;
    padding: 15px 20px;
    transition: all 0.8s ease;
}
.get-in-touch-btn a:hover{
    background-color: #000;
    color: #fbc850;
    border: 1px solid #fbc850;   
}

.mob-menu{
    display: none;
}
/* Navbar End */

/*----------------------------- Main Container Start ------------------------ */
.main-container{
    position: relative;
    /* margin-top: 8rem; */
}

.mob-menu-list{
    display: none;
}

.helping-company{
    padding: 40px 0px 20px;
}
.helping-company .heading{
    font-size: 50px;
    line-height: 60px;
}
.helping-company .sub-heading{
    color: #777;
    font-size: 16px;
    line-height: 25px;
}
.trusted-partner{
    padding: 40px 0px;
}
.trusted-partner-icon{
    display: flex;
    flex-grow: 6;
    justify-content: space-between;
    align-items: center;
}
.work-by-us, .communities,.interested-in-work{
    padding: 40px 0px;
}
.work-by-us img{
    width: 100%;
    margin-bottom: 30px;
}
i{
    color: #fff;
    border: none;
    font-size: 20px;
}
.work-content .title a, .title{ 
    font-size: 35px;
    text-decoration: none;
    color: #fff;
}
.desp{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #777;
    margin-bottom: 20px;
}
.communities{
    background-color: #2e3038;
}
.interested-in-work{
    padding: 60px 0px;
}
.interested-in-work .get-in-touch-btn{
    margin: 40px 0px 0px;
}
/* ------------------------------- footer ------------------------------------- */
footer{
    background-color: #2e3038;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.social-icon img{
    margin-left: 10px ;
}
/*======================= Media Querry Mobile Screen =================================== */

@media (max-width: 600px) {
.menu-list, .get-in-touch-btn{
    display: none;
}
.mob-menu{
    display: block;
    cursor: pointer;
}

/* ------------------------------ Mobile Menu ------------------------------- */
.mob-menu-list{
    background-color: #2e3038;
    width: 100%;
    text-align: center;
    position: absolute;
    left: -100%;
    z-index: 2;
    display: block;
    transition: all .5s;
}
.mob-menu-list.show{
    left: 0%;
}
.mob-menu-list ul li{
    padding: 20px 0px;
    list-style-type: none;
}
.mob-menu-list ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color:#777;
    transition: all 0.5s ease;
}
.mob-menu-list ul li a:hover{
    color: #fff;
    padding: 0px 40px;
    border-bottom: 1px solid #fff;
}
.mob-menu-list ul li .touch-btn{
    background-color: #fbc850;
    padding: 20px;
    color: #000;
}

.mob-menu-list ul li .touch-btn:hover{
    color: #fbc850;
    border: 1px solid #fbc850 ;
    background-color: #000 ;
    padding: 20px 50px;
}
/* --------------------------------- mobile menu End ----------------------------- */
.mob-btn{
    display: block;
}
.helping-company .heading {
    font-size: 30px;
    line-height: 45px;
}
.helping-company .sub-heading {
    color: #777;
    font-size: 12px;
    line-height: 25px;
}
.desp {
    font-size: 16px;
    margin-bottom: 30px;
}
.work-content .title a {
    font-size: 25px;
}
.title{
    font-size: 32px;
}
.partner-logo img{
    display: block;
    width: 40%;
    margin: 0px auto;
}

}

/*======================= Media Querry Tablets and Ipads=================================== */
@media (min-width: 600px) and (max-width: 1024px){
    .menu-list, .get-in-touch-btn{
        display: none;
    }
    .mob-menu{
        display: block;
        cursor: pointer;
    }
    .mob-btn{
        display: block;
    }
    /* ------------------------------ Mobile Menu ------------------------------- */
.mob-menu-list{
    background-color: #2e3038;
    width: 100%;
    text-align: center;
    position: absolute;
    left: -100%;
    z-index: 2;
    display: block;
    transition: all .5s;
}
.mob-menu-list.show{
    left: 0%;
}
.mob-menu-list ul li{
    padding: 20px 0px;
    list-style-type: none;
}
.mob-menu-list ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color:#777;
    transition: all 0.5s ease;
}
.mob-menu-list ul li a:hover{
    color: #fff;
    padding: 0px 40px;
    border-bottom: 1px solid #fff;
}
.mob-menu-list ul li .touch-btn{
    background-color: #fbc850;
    padding: 20px;
    color: #000;
}

.mob-menu-list ul li .touch-btn:hover{
    color: #fbc850;
    border: 1px solid #fbc850 ;
    background-color: #000 ;
    padding: 20px 50px;
}
.trusted-partner-icon {
    flex-grow: 2;
}
/* --------------------------------- mobile menu End ----------------------------- */
    .helping-company .heading {
        font-size: 56px;
        line-height: 77px;
    }
    .helping-company .sub-heading {
        color: #9d9c9c;
        font-size: 18px;
        line-height: 28px;
    }
    .desp {
        font-size: 17px;
        padding-right: 20px;
    }
    .communities .title{
        font-size: 36px;
    }
    .communities .gap{
        margin-bottom: 25px;
    }
    .work-content .title a, .title {
        font-size: 34px;
    }
}